:root {
    --dark: rgb(107, 115, 235);
    --darker: rgb(48, 55, 149);
    --darkest: rgb(23, 28, 93);
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.high-score {
    position: fixed;
    top: 10px;
    left: 10px;
}

.count-down {
    position: fixed;
    top: 10px;
    right: 10px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    top: 50px;
    flex-direction: column;
}

button {
    background-color: var(--dark);
    border-radius: 5px;
    font-weight: bold;
    padding: 3px 10px;
    color: var(--white);
    border: 0;
    margin: 10px 0 0 0;
}

button:hover {
    background-color: var(--darker);
}

button:active {
    background-color: var(--darkest);
}

h1 {
    font-size: large;
}

li {
    list-style: none;
}

.btn {
    background-color: var(--dark);
    padding: 3px 10px;
    margin: 2px;
    width: fit-content;
    border-radius: 5px;
    color: var(--white);
}

.btn:hover {
    background-color: var(--darker);
}

.btn:active {
    background-color: var(--darkest);
}

#prompt {
    width: 50vw;
    font-size: x-large;
}

#result {
    width: 50vw;
}

#submit-score {
    display: none;
}

#leaderboard {
    display: none;
}
#question-container {
    display: none;
}